.woocommerce-cart-form {
  img {
    width: 100%;
    height: auto;
  }
  div.product-thumbnail {
  }
  a.remove {
    @media screen and (max-width: 733px){
      background-color: white;
      width: 100%;
      margin-bottom: 20px;
    }
    &:before{
      width: 50px;
      height: 50px;
      font-size: 30px;
      top: -10px;
      left: -10px;
      clip-path: circle(18px at center);
      transition: color 0.2s, background-color 0.2s;
      color: black;
      @media screen and (max-width: 733px){
        content: 'REMOVE FROM CART';
        top: 0;
        left:0;
        font-size: 25px;
        width: auto;
        height: 40px;
        clip-path: none;
        font-family: inherit;
        color: black;
      }
    }
    &:hover {
      &:before{
        color:white;
        background-color: black;
      }
    }
  }
  .table-row {
    display: flex;
    justify-content: space-around;
    div[class^="product"] {
      flex: 0 1 16%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
    @media screen and (max-width: 733px){
      flex-direction: column;
      max-width: 320px;
      div[class^="product"] {
        margin: 5px 0;
      }
      div.product-name {
        order: 0;
        display: inline-block;
        &::before{
          display: inline-block;
          font-weight: bold;
          content: 'Product Name: '
        }
        div.product-price-alt {
          display: none;
        }
      }
      div.product-subtotal {
        display: inline-block;
        order: 2;
        &::before{
          display: inline-block;
          font-weight: bold;
          content: 'Subtotal: '
        }
      }
      div.product-quantity {
        order: 1;
        div.quantity {
          flex: 1;
          display: flex;
          input {
            border: 1px solid black;
            margin-left: 10px;
            padding-left: 5px;
          }
          &::before {
            content: 'Quantity: ';
            font-weight: bold;
            display: inline-block;
          }
        }
      }
      div.product-thumbnail {
        order: 3;
        max-height: 100px;
        overflow: hidden;
      }
      div.product-remove {
        order: 4;
      }
    }
    div.product-price {
      @media screen and (max-width: 733px){
        display: none;
      }
    }
    div.product-price-alt {
      display: none;
      @media screen and (max-width: 733px){
        display: block;
      }
    }
    div.product-remove {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .table-head {
    font-weight: bold;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid black;
    div[class^="product"] {
      @media screen and (max-width: 733px){
        display: none;
      }
    }
  }
  .quantity {
    input[type="number"]{
      width: 100%;
      border: none;
    }
  }
}
