@import 'variables';

.site-header-content {
  display:flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 2px solid $black;
  .site-branding {
    .site-title {
      font-weight: bolder;
      font-size: 40px;
      line-height: 0.9;
      padding-bottom: 10px;
      max-width: 360px;
      &:hover {
        &:after {
        }
      }
      a {
        text-decoration: none;
        text-transform: uppercase;
        width: auto;
        @include crazy-line(0.5s, 5px)
      }
    }
    .site-description {
      text-transform: uppercase;
      font-weight: normal;
      padding-left: 2px;
    }
  }
}
